<div class="bg-dark text-white p-3"

     style="min-height:100vh;">



    <h4 class="text-center mb-4">

        ⚡ EV Admin

    </h4>





    <hr>





    <a href="{{ url_for('admin.dashboard') }}"

       class="btn btn-dark w-100 text-start mb-2">


        🏠 Dashboard


    </a>







    <a href="{{ url_for('admin.add_station') }}"

       class="btn btn-dark w-100 text-start mb-2">


        ➕ Add Station


    </a>







    <a href="{{ url_for('admin.bookings') }}"

       class="btn btn-dark w-100 text-start mb-2">


        📅 Bookings


    </a>







    <a href="{{ url_for('main.home') }}"

       class="btn btn-dark w-100 text-start mb-2">


        🌐 Website


    </a>







    <a href="{{ url_for('main.logout') }}"

       class="btn btn-danger w-100 text-start mt-3">


        🚪 Logout


    </a>





</div>